name: build-getfem-5.4.2
on:
  push:
  workflow_dispatch:
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          wget http://download-mirror.savannah.gnu.org/releases/getfem/stable/getfem-5.4.2.tar.gz
          tar xzf getfem-5.4.2.tar.gz
          cd getfem-5.4.2
          pip install scipy
          ./configure --enable-python --enable-shared --with-pic
          ls
          make
          ls
          sudo make install
          ls /usr/local/lib/python3.8/site-packages/getfem
          python -c "import sys;sys.path.append('/usr/local/lib/python3.8/site-packages');import getfem as gf;print(gf)"
          #sudo apt update && sudo apt install -y checkinstall
          #sudo checkinstall --install=no -y
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifact
          path: |
            .
