name: build-getfem-5.4.2
on:
  push:
  workflow_dispatch:
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: download and extract
        run: |
          wget http://download-mirror.savannah.gnu.org/releases/getfem/stable/getfem-5.4.2.tar.gz
          tar xzf getfem-5.4.2.tar.gz
      - name: pre-build
        run: |
          pip install scipy
          sudo apt update
          sudo apt install -y checkinstall
          sudo apt install -y libqd-dev libqhull-dev libmumps-seq-dev liblapack-dev libblas-dev
      - name: build
        run: |
          echo '$ cd getfem-5.4.2'
          cd getfem-5.4.2
          echo '$ ./configure --enable-python --enable-shared --with-pic'
          ./configure --enable-python --enable-shared --with-pic
          echo '$ make'
          make
          echo '$ sudo checkinstall --default --install=no'
          sudo checkinstall --default --install=no
      - name: install and test
        run: |
          cd getfem-5.4.2
          sudo make install
          ls /usr/local/lib/python3.8/site-packages/getfem
          python -c "import svs;print(sys.path)"
          echo '$ export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib/'
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib/
          echo '$ sudo cp /usr/local/lib/python3.8/site-packages/getfem/*.so /usr/lib/python3.8/lib-dynload'
          sudo cp /usr/local/lib/python3.8/site-packages/getfem/*.so /usr/lib/python3.8/lib-dynload
          echo 'python -c "import getfem as gf;print(gf)"'
          python -c "import getfem as gf;print(gf)"
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifact
          path: |
            .
